# python compile files
# ===========
*.pyc

# private
# ===========
credentials/

# Eclipse project files
# ======================
.project
.pydevproject
*.pyproj

# Visual Studio project files
# ======================
.settings/
.vs/
*.sln

# Node and related environment
# ======================
.npmignore
node_modules/

