/********************/
/* Universal Styles */
/********************/

body {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    height:100vh;
    background-image:url(../images/mountain_forest_scenery_small.jpg);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

section, header, nav, footer {
    display:block;
}

button{
  font-family: 'Roboto', sans-serif;
}

button:focus {outline:0;}

/*****************/
/* Header Styles */
/*****************/
#pageheader {
    position:fixed;
    top:0px;
    left:0px;
    height:70px;
    width:100%;
}

header {
    height:100%;
    width:100%;
}

.logo-map{
  position: absolute;
  bottom: 1%;
  right: 10px;
  padding: 5px;
  border-radius: 0px;
  background-color: #ffffff1a;
  font-size: 0.8rem;
  color: #FFF;
  width: auto;
}

.logos {
    position:relative;
    margin:0px;
    width:100%;
    height:50px;
    background-color:#fff;
}

.logos img#usaid {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 120px;
}

.logos img#gee {
    position:absolute;
    top:5px;
    right:50px;
    width:230px;
}

.logos img#nasa {
    position: absolute;
    top: 5px;
    left: 165px;
    width: 40px;
}

.logos img#adpc {
    position: absolute;
    top: 9px;
    left: 220px;
    width: 65px;
}

.logos img#servir {
    position: absolute;
    top: 12px;
    right: 30px;
    width: 200px;
}

nav {
    position:relative;
    margin:0px;
    width:100%;
    height:45px;
    background-color:#000;
    color:#eee;
}
nav a.application_name{
    position: absolute;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    left: 20px;
}
nav ul {
    position:absolute;
    bottom:5px;
    right:30px;
    height: 10px;
}

nav ul li {
    display:inline;
    list-style-type:none;
    padding:2px 10px;
    cursor:pointer;
}

nav ul li a{
    text-decoration: none;
    color: #FFF;
}


nav ul li homebutton {
    text-shadow:0px 0px 4px #fff;
}

nav ul li aboutbutton {
    text-shadow:0px 0px 4px #fff;
}

/***************/
/* Body Styles */
/***************/

#pagecontent {
    position:fixed;
    top:90px;
    left:0px;
    height:calc(100vh - 90px - 55px);
    width:100%;
    background-color:rgba(255,255,255,0.2);
}

#pagecontent a {
  color: #010101;
  text-decoration: none;
}

#pagecontent a:hover {
    text-shadow:0px 0px 4px #333;
}

#pagecontent #all-pages {
    position:relative;
    height:100%;
    width:100%;
}

/*****************/
/* Footer Styles */
/*****************/

#pagefooter {
    position:fixed;
    bottom:0px;
    left:0px;
    height:55px;
    width:100%;
}

footer {
    height:100%;
    width:100%;
    border-top:1px solid #3a3a3a;
}

.logos img#sig {
    position:absolute;
    top:5px;
    left:30px;
    width:200px;
}

.logos img#sei {
    position:absolute;
    top:5px;
    left:260px;
    width:180px;
}

.logos img#deltares {
    position:absolute;
    top:5px;
    left:440px;
    width:100px;
}

/**************/
/* About Page */
/**************/

#about {
	display:none;
  position:absolute;
  top:3%;
  left:10%;
  height:calc(100vh - 90px - 55px - 55px);
  width:76%;
  padding:2%;
  z-index: 1;
  overflow:auto;
  background:rgba(255, 255, 255, 0.8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
}

#about h1 {
    font-size:1.2rem;
    font-weight:bold;
    padding:0.5rem;
    color:gray;
}

#about p {
    padding:0.5rem;
}

#about #about-logos {
    width:70%;
    margin:auto;
}

#about #about-logos img {
    display:inline;
    height:35px;
    padding:0.5rem;
}

#about p#copyright {
    padding:0.5rem;
    width:100%;
    text-align:center;
}

/****************************************/
/* Application Page Toplevel Components */
/****************************************/

#ecodash {
    position:absolute;
    top:0px;
    left:0px;
    height:calc(100vh - 90px);
    width:100%;
}

#ecodash #map {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}

#ecodash #ui {
  top: 5px;
  bottom: 5px;
  width: 340px;
  height: auto;
  padding: 0px;
  float: right;
  right: 10px;
  z-index: 5;
  position: relative;
  opacity: 1;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #FFF;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-sm {
  border: 1px solid #eee;
  font-size: 12px;
  margin: 3px;
  padding: 3px;
}


#chart-info-area  #PieLink p{
  position: absolute;
  bottom: 8px;
  margin: 15px;
  width: auto;
}

#ecodash #settings-button {
    display: none;
    position:absolute;
    top:0px;
    right:0px;
    width:34px;
    font-size:30px;
    font-weight:bold;
    text-align:center;
    background-color:white;
    box-shadow:0px 0px 5px gray;
    cursor:pointer;
    border-bottom-left-radius:3px;
}

#ecodash #general-info {
	display: none;
	position:absolute;
    top:10%;
    left:20%;
    height:66%;
    width:56%;
    padding:2%;
    border-radius:3px;
    background-color:white;
    box-shadow:0px 0px 5px gray;
    z-index:100;
    overflow:scroll;
}


#ecodash #chart-info {
  font-family: 'Roboto', sans-serif;
    display: none;
	  position:absolute;
    top:10%;
    left:10%;
    height:70%;
    width:56%;
    padding:2%;
    border-radius:3px;
    background-color:white;
    box-shadow:0px 0px 5px gray;
    z-index:100;
}

#ecodash #chart-info-area {
  font-family: 'Roboto', sans-serif;
  display: none;
  position: absolute;
  bottom: 2%;
  left: 140px;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(51,51,51);
  z-index: 2;
  border: 0px solid #010101;
}

#ecodash #general-info-shown {
    position:absolute;
    top:10%;
    left:20%;
    height:66%;
    width:56%;
    padding:2%;
    border-radius:3px;
    background-color:white;
    box-shadow:0px 0px 5px gray;
    z-index:100;
    overflow:scroll;
}

#ecodash .info{
  display: none;
  position: absolute;
  top: 10px;
  right: 400px;
  padding: 5px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.73);
  font-size: 0.8rem;
  color: #FFF;
  width: 350px;
}

#ecodash #download-screen {
	display: none;
	position:absolute;
    top:40%;
    left:40%;
    height:30%;
    width:30%;
    padding:2%;
    border-radius:3px;
    background-color:white;
    box-shadow:0px 0px 5px gray;
    z-index:100;
    overflow:scroll;
}


#ecodash #general-info h1 {
    text-align:center;
    margin-bottom:0.5rem;
    font-size:2.4rem;
    font-weight:bold;
    color:gray;
}

#ecodash #general-info p {
    padding:0.5rem;
    font-size:1rem;
}

#ecodash #general-info input {
    margin:1rem 39%;
    padding:0.25rem;
    font-size:1.2rem;
}

#ecodash #legend {
  position: absolute;
  color: #FFF;
  left: 20px;
  bottom: 20px;
  width: 90px;
  height: 192px;
  background-color: rgba(0, 0, 0, 0.86);
  padding: 10px;
  border-top-right-radius: 3px;
  border-radius: 4px;
}

#ecodash #legend h2 {
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    margin: 4px;
}

#ecodash #legend table tr {
    font-size:0.8rem;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal
}

#ecodash #legend table td:last-child {
    padding-left:5px;
}

#ecodash #legend img {
    height:100px;
}


#ecodash #feedback {
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 0;
    box-shadow: 0 0 5px gray;
    font-size: 0.8rem;
    height: 1.2rem;
    left: 45%;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 10rem;
}

#ecodash #opacitySlider {
    position:absolute;
    left:0px;
    bottom:0px;
    height:25px;
    width:80%;
    background-color:none;
    padding:5px;
}

#ecodash #opacitySlider p {
    font-size:0.8rem;
    color:#333;
    text-align:center;
}

#ecodash #opacitySlider input {
    position:absolute;
    left:5;
    top:25px;
    width:80px;
    height:22px;
}

#ecodash p#feedback {
    position:absolute;
    bottom:0;
    left:45%;
    width:10rem;
    height:1.2rem;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    background-color:white;
    padding:5px;
    font-size:0.8rem;
    text-align:center;
    box-shadow:0px 0px 5px gray;
}

/***********************************/
/* Application Page Sidebar Header */
/***********************************/

#ecodash #ui header {
  height: 30px;
  background: #000;
  color: #FFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#ecodash #ui header h1 {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
  color: #FFF;
  margin-block-start: 5px;
  margin-block-end: 0;
  margin-left: 10px;
  float: left;
}

#ecodash #ui header #collapse-button {
    display:inline;
    float:right;
    margin-right:10px;
    cursor:pointer;
}

#ecodash #ui header #info-button {
  display: inline;
  float: left;
  margin: 2px 10px 5px 10px;
  width: 15px;
  height: 15px;
  padding: 0px 3px;
  background-image: linear-gradient(rgb(255,255,255) 0px, rgb(224,224,224) 100%);
  background-position: 0% 0%;
  background-repeat: repeat-x;
  border: 1.25px solid rgb(204,204,204);
  border-radius: 50%;
  box-shadow: rgba(255,255,255,0.15) 0px 1px 0px 0px inset, rgba(0,0,0,0.075) 0px 1px 1px 0px;
  font-size: 12px;
  color: rgb(51,51,51);
  font-weight: 600;
  line-height: 16px;
  text-shadow: rgb(255,255,255) 0px 1px 0px;
  cursor: pointer;
}

#ecodash #ui #step1 {
    display:inline;
    float:right;
    margin:2px 10px 0px 0px;
    padding:0px 3px;
    background-image:linear-gradient(rgb(255,255,255) 0px, rgb(224,224,224) 100%);
    background-position:0% 0%;
    background-repeat:repeat-x;
    border:1.25px solid rgb(204,204,204);
    border-radius:3px;
    box-shadow:rgba(255,255,255,0.15) 0px 1px 0px 0px inset,
               rgba(0,0,0,0.075) 0px 1px 1px 0px;
    font-size:12px;
    color:rgb(51,51,51);
    font-weight:400;
    line-height:16px;
    text-shadow:rgb(255,255,255) 0px 1px 0px;
    cursor:pointer;
}

#ecodash #ui #step2 {
    display:inline;
    float:right;
    margin:2px 10px 0px 0px;
    padding:0px 3px;
    background-image:linear-gradient(rgb(255,255,255) 0px, rgb(224,224,224) 100%);
    background-position:0% 0%;
    background-repeat:repeat-x;
    border:1.25px solid rgb(204,204,204);
    border-radius:3px;
    box-shadow:rgba(255,255,255,0.15) 0px 1px 0px 0px inset,
               rgba(0,0,0,0.075) 0px 1px 1px 0px;
    font-size:12px;
    color:rgb(51,51,51);
    font-weight:400;
    line-height:16px;
    text-shadow:rgb(255,255,255) 0px 1px 0px;
    cursor:pointer;
}


#ecodash #ui #step3 {
    display:inline;
    float:right;
    margin:2px 10px 0px 0px;
    padding:0px 3px;
    background-image:linear-gradient(rgb(255,255,255) 0px, rgb(224,224,224) 100%);
    background-position:0% 0%;
    background-repeat:repeat-x;
    border:1.25px solid rgb(204,204,204);
    border-radius:3px;
    box-shadow:rgba(255,255,255,0.15) 0px 1px 0px 0px inset,
               rgba(0,0,0,0.075) 0px 1px 1px 0px;
    font-size:12px;
    color:rgb(51,51,51);
    font-weight:400;
    line-height:16px;
    text-shadow:rgb(255,255,255) 0px 1px 0px;
    cursor:pointer;
}


#ecodash #ui #sliderval1 {

    left:60px;
    top:85px;
    width:10px;
    height:22px;
    display:inline;
    font-size:0.8rem;
    font-weight:bold;

}

#ecodash #ui #sliderval2 {

    left:410px;
    top:85px;
    width:10px;
    height:22px;
    display:inline;
    font-size:0.8rem;
    font-weight:bold;

}


#ecodash #ui #sliderval3{

    left:60px;
    top:155px;
    width:10px;
    height:22px;
    display:inline;
    font-size:0.8rem;
    font-weight:bold;

}

#ecodash #ui #sliderval4 {

    left:210px;
    top:155px;
    width:10px;
    height:22px;
    display:inline;
    font-size:0.8rem;
    font-weight:bold;

}

/*********************************/
/* Application Page Map Controls */
/*********************************/

#ecodash #ui #controls {
    height:94%;
    width:100%;
    overflow:hidden;
    padding: 10px;
}

#ecodash #ui #controls button{
    margin: 0px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    background-color: #006cfa;
    border-radius: 5px;
    border: none;
    color: #FFF;

  }

  #ecodash #ui #controls button.chart-btn{
    margin-bottom: 3px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    background-color: #eee;
    border-radius: 5px;
    border: none;
    color: rgb(51,51,51);

    }

#ecodash #ui #controls p {
  font-size: 14px;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#ecodash #ui #controls h2 {
    font-size:1rem;
    font-weight:bold;
    color:gray;
    margin-bottom:5px;
}

.foldable-btn {
  width: 35px;
  height: 100%;
  border-radius: 11px;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.foldable-btn.down {
  background-image: url(../images/fold_down.png);
}
.foldable-btn.up {
  background-image: url(../images/fold_up.png);
}

#ecodash #ui #controls h3 {
    font-size:14px;
    font-weight:600;
    color:#000;
    margin:5px 0px;
}

#ecodash #ui #controls input[type=button] {
    margin:2% 0% 2% 31%;
    padding:5px;
    font-size:0.8rem;
    color:#333;
}

#ecodash #ui #controls ul {
    width:50%;
    margin:0% auto;
}

#ecodash #ui #controls ul li {
    list-style-type:none;
    padding:2px;
}

#ecodash #ui #controls ul li input[type=radio] {
    vertical-align:middle;
}

#ecodash #ui #controls ul li label {
    height:100%;
    vertical-align:middle;
    margin-left:5px;
    font-size:0.8rem;
    color:#333;
}

#ecodash #ui #controls p#polygon {
    margin:0% auto;
    padding:5px;
    font-size:0.8rem;
    color:#333;
}

#ecodash #ui #controls p#polygon em {
    font-style:italic;
}

#ecodash #ui #controls #chart {
    height:200px;
    width:300px;
}

#ecodash #ui #controls #updateMap {
	display: none;
}

#ecodash #ui #controls #downloadkml {
	display: none;
}

#ecodash #ui #controls #clearchart {
	display: none;
}

#ecodash #ui #controls #export {
	display: none;
}

#ecodash #ui #controls #link {
	display: none;
}


/*****************************/
/* Multi-Range Slider Widget */
/*****************************/

.range-slider {
    position:relative;
    width:200px;
    height:45px;
    margin:0% auto;
}

.range-slider p {
    font-size:0.8rem;
    color:#333;
    text-align:center;
}

.range-slider input {
    position:absolute;
    left:0;
    top:20px;
    width:200px;
    height:22px;
}

.range-slider input:last-of-type::-moz-range-track {
    visibility:hidden;
}


.irs--round .irs-handle {
    top: 30px;
    width: 15px;
    height: 15px;
    border: 2px solid #006cfa;
    background-color: #e1e4e9;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    font-size: 12px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 5px;
    background-color: #006cfa;
    color: white;
    border-radius: 4px;
}



/*****************/
/* Slider Widget */
/*****************/

input[type=range] {
    outline:none;
    pointer-events:none;
    background:transparent;
    -webkit-appearance:none;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events:all;
    position:relative;
    z-index:10;
    background:#ffffff;
    border:1px solid #000000;
    border-radius:3px;
    box-shadow:1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor:pointer;
    height:16px;
    width:8px;
    -webkit-appearance:none;
    margin-top:-6px;
}

input[type=range]::-moz-range-thumb {
    pointer-events:all;
    position:relative;
    z-index:10;
    background:#ffffff;
    border:1px solid #000000;
    border-radius:3px;
    box-shadow:1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor:pointer;
    height:16px;
    width:8px;
}

input[type=range]::-ms-thumb {
    pointer-events:all;
    position:relative;
    z-index:10;
    background:#ffffff;
    border:1px solid #000000;
    border-radius:3px;
    box-shadow:1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor:pointer;
    height:16px;
    width:8px;
}

input[type=range]::-webkit-slider-runnable-track {
    height:6px;
    width:95%;
    border:1px solid #010101;
    border-radius:1px;
    box-shadow:1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background:#ccc;
}

input[type=range]::-moz-range-track {
    height:6px;
    width:95%;
    border:1px solid #010101;
    border-radius:1px;
    box-shadow:1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background:#ccc;
}

input[type=range]::-moz-focus-outer {
    border:0px;
}

input[type=range]::-ms-track {
    height:6px;
    width:95%;
    border:1px solid #010101;
    border-radius:1px;
    box-shadow:1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background:#ccc;
    color:transparent;
}

input[type=range]::-ms-fill-lower {
    background:transparent;
}

input[type=range]::-ms-fill-upper {
    background:transparent;
}


/* IMAGE RADIO OPTIONS */
#ecodash #ui #controls .image-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1.125rem;
    padding-bottom: 0.9375rem;
    width: 90%;
}

#ecodash #ui #controls .image-options button {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    width: 20%;
    background-color: #FFF;
}

#ecodash #ui #controls .image-options button:disabled {
  fill: #7f7f7f;
  pointer-events: none;
}

#ecodash #ui #controls .image-options button.selected::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 10px;
    left: 0.625rem;
    width: 100%;
    height: 2px;
    height: 0.125rem;
    background-color: #006cfa;
}

#ecodash #ui #controls .image-options button .label {
    font-size: 11px;
    line-height: 1.18;
    color: #7f7f7f;
}

#ecodash #ui #controls .image-options button.selected .label {
    color: #006cfa;
}

#ecodash #ui #controls .image-options button.selected svg {
    fill: #006cfa;
}


#ecodash #ui #controls .layer-menu .layer-title {
    color: #555;
}

/* DRAWING OPTIONS BUTTON */
#ecodash #ui #controls .image-options button svg.icon-square-point {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.1rem;
}


@keyframes sweep {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-moz-keyframes sweep {
    from {
        -moz-transform:rotate(0deg);
    }
    to {
        -moz-transform:rotate(360deg);
    }
}

@-webkit-keyframes sweep {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

/******************/
/* Spinner Widget */
/******************/

.loading-img {
    width: 220px;
    height: 220px;
    margin-left: 50%;
    margin-top: 20%;
    background: url(../../modules/core/client/img/spinner.gif) center center no-repeat,url(../../../core/client/img/spinner.gif) center center no-repeat;
}

.spinner {
    display: none;
    z-index: 1005;
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/spinner.gif) center center no-repeat,url(../images/spinner.gif) center center no-repeat;
    background-color: rgba(0,0,0,0.55);
}


