#legend {
  /* transform: rotate(90deg); */
  width:75%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#before_date_ini {
  position: relative;
  display: block;
  width:40%;
  float: left;
  margin: auto;
}
#before_date_end {
  position: relative;
  display:block;
  width:40%;
  margin: auto;
  top: -25px;
}

#after_date_ini {
  position: relative;
  display: block;
  width:40%;
  float: left;
}
#after_date_end {
  position: relative;
  display: block;
  width:40%;
  margin:auto;
  top: -25px;
}

.period_slice {
  display: inline-block;
}

.btn-success {
  width: 100%;
}

.btn-danger {
  width: 100%;
}
