{% extends "tethys_apps/app_base.html" %}

{% load tethys_gizmos staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  <l1 class="title"><h3>App Controls</h3></li>

  <li><p><b>Legend:</b></p></li>
  <img id="legend" src="{% static 'ecodash/images/mylegend.png' %}" style="width=50%">
  <p> <em>Decrease</em>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <em>Stable</em>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <em>Increase</em>
  </p>

  <li class="separator"></li>

  <li><p><b>Before Period:</b></p></li>
    {% gizmo before_date_ini %}
    <span class="period_slice">&nbsp - &nbsp</span>
    {% gizmo before_date_end %}

  <li class="separator"></li>

  <li><p><b>After Period:</b></p></li>
  {% gizmo after_date_ini %}
  <span class="period_slice">&nbsp - &nbsp</span>
  {% gizmo after_date_end %}

  <li class="separator"></li>

  <li class="separator"></li>
  {% gizmo update-button %}

  <li class="separator"></li>
  <li><p><b>Control Geometry:</b></p></li>
  <form class="form-inline">
      <!-- <label>Control Geometry &nbsp;</label> -->
      <select id="control-type">
        <option value="None">None</option>
        <!-- <option value="Point">Point</option> -->
        <option value="Polygon">Polygon</option>
        <!-- <option value="Circle">Circle</option> -->
      </select>
    </form>

  <li class="separator"></li>
  <li><p><b>Intervention Geometry:</b></p></li>
  <form class="form-inline" style="width:100%">
      <!-- <label>Control Geometry &nbsp;</label> -->
      <select id="intervention-type">
        <option value="None">None</option>
        <!-- <option value="Point">Point</option> -->
        <option value="Polygon">Polygon</option>
        <!-- <option value="Circle">Circle</option> -->
      </select>
    </form>

    <li class="separator"></li>
    {% gizmo remove_button %}

    <li class="separator"></li>
    {% gizmo chart-button %}
    <li class="separator"></li>


{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block global_scripts %}
{{block.super}}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://highcharts.github.io/export-csv/export-csv.js"></script>
<script src="https://openlayers.org/en/v4.4.2/build/ol.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'ecodash/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ecodash/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
