/********************/
/* Universal Styles */
/********************/

body {
    font-family:Open Sans;
    font-size:16px;
    height:100vh;
    background-image:url(images/chaBG.jpg);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

section, header, nav {
    display:block;
}

/*****************/
/* Header Styles */
/*****************/

#pageheader {
    position:fixed;
    top:0px;
    left:0px;
    height:90px;
    width:100%;
}

header {
    height:100%;
    width:100%;
}

#logos {
    position:relative;
    margin:0px;
    width:100%;
    height:55px;
    background-color:#fff;
}

#logos img#usaid {
    position:absolute;
    top:5px;
    left:30px;
    width:150px;
}

#logos img#nasa {
    position:absolute;
    top:0px;
    left:210px;
    width:60px;
}

#logos img#google {
    position:absolute;
    top:10px;
    left:300px;
    width:120px;
}

#logos img#adpc {
    position:absolute;
    top:9px;
    left:450px;
    width:80px;
}

#logos img#servir {
    position:absolute;
    top:12px;
    right:30px;
    width:250px;
}

nav {
    position:relative;
    margin:0px;
    width:100%;
    height:35px;
    background-color:#3a3a3a;
    color:#eee;
}

nav ul {
    position:absolute;
    top:6px;
    left:30px;
}

nav ul li {
    display:inline;
    list-style-type:none;
    padding:7px 10px;
    cursor:pointer;
}

nav ul li.highlight {
    text-shadow: 0px 0px 4px #fff;
}

/***************/
/* Body Styles */
/***************/

#pagecontent {
    position:fixed;
    top:90px;
    left:0px;
    height:calc(100vh - 90px);
    width:100%;
    background-color:rgba(255,255,255,0.2);
}

#pagecontent a:link,
#pagecontent a:visited,
#pagecontent a:active {
    color:#444;
    text-decoration:none;
}

#pagecontent a:hover {
    color:#444;
    text-shadow: 0px 0px 4px #333;
}

/*************/
/* Home Page */
/*************/

#home {
    position:absolute;
    right:5rem;
    height:100%;
    width:350px;
    padding:2rem;
    background:rgba(255, 255, 255, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
}

#home h1 {
    margin-top:20px;
    padding:0.5rem 0.5rem 0.5rem 1rem;
    font-size:3.5rem;
    font-weight:bold;
    color:gray;
    line-height:80%;
}

#home h2 {
    margin-bottom:10px;
    padding:0.5rem 0.5rem 0.5rem 1rem;
    font-size:2.5rem;
    font-weight:400;
    color:gray;
    line-height:110%;
}

#home h3 {
    padding:0.5rem 0.5rem 0.75rem 1rem;
    color:#3C948B;
    font-family:Open Sans;
    font-weight:400;
    font-size:1.1rem;
    font-style:normal;
}

#home p {
    padding:0.5rem;
}

/**************/
/* About Page */
/**************/

#about {
    position:absolute;
    right:5rem;
    height:100%;
    width:350px;
    padding:2rem;
    background:rgba(255, 255, 255, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
}

#about h1 {
    font-size:1.9rem;
    font-weight:100;
    padding:0.5rem;
    color:gray;
}

#about p {
    padding:0.5rem;
}

#about img {
    padding:0rem 0.5rem;
}

/********************/
/* Application Page */
/********************/

#ecodash {
    position:relative;
    height:100%;
    width:100%;
}

#ecodash #map {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}

#ecodash #ui {
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:30%;
    background-color:white;
    padding:0.5rem;
}

#ecodash #ui header {
    border:1px solid red;
    padding-bottom:0.5rem;
}

#ecodash #ui header h1 {
    display:inline;
    border:1px solid yellow;
}

#ecodash #ui header #collapse-button {
    display:inline;
    float:right;
    margin-right:10px;
    cursor:pointer;
}

#ecodash #ui header #info-button {
    display:inline;
    float:right;
    margin:2px 10px 0px 0px;
    padding:0px 3px;
    background-image:linear-gradient(rgb(255,255,255) 0px, rgb(224,224,224) 100%);
    background-position:0% 0%;
    background-repeat:repeat-x;
    border:1.25px solid rgb(204,204,204);
    border-radius:3px;
    box-shadow:rgba(255,255,255,0.15) 0px 1px 0px 0px inset,
               rgba(0,0,0,0.075) 0px 1px 1px 0px;
    font-size:12px;
    color:rgb(51,51,51);
    font-weight:400;
    line-height:16px;
    text-shadow:rgb(255,255,255) 0px 1px 0px;
    cursor:pointer;
}

#ecodash #settings-button {
    position:absolute;
    bottom:0px;
    right:0px;
    width:34px;
    font-size:30px;
    font-weight:bold;
    text-align:center;
    background-color:white;
    box-shadow:0px 0px 5px gray;
    cursor:pointer;
}
